.backgrount-hero4 {
  background-image: url('/img/examples/hero4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 0 !important;
}

.heading-background {
  position: relative;
  bottom: 1em;
  width: 16em;
  height: 12em;
  background-image: url('/img/shapes/oval.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.heading-background h1 {
  width: 5em;
  text-align: left;
}
