/* based on https://cdn.skauting.cz/css/style.css */

h1 {
  font-family: $family-secondary;
  font-weight: normal !important;
}

h4 {
  font-style: italic;
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.navbar a {
  text-decoration: none;
}
